.card{
  display: flex;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__item{
  display: flex;
  width: 23.3%;
  padding: 15px;
  align-items: center;  
  justify-content: center;  
  vertical-align: middle; 
  border: 3px solid white;
  border-radius: 10px;
  background-color: $color-grey-light;
  color: white; 
}

.card__item:first-child{
  width: 32%;
  background-color: grey;
}
