.checkbox {
  display: none;
}
 
.checkbox + label {
  position: relative;  
  padding-left: 50px;  
  line-height: 40px;
  font-family: tahoma, sans-serif, arial;
  cursor: pointer;
}
 
.checkbox + label::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 46px;
  height: 24px;  
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #dadada;
  border-radius: 12px;
  background: #dddddd;
}
 
.checkbox + label::after {
  content: "";  
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 3px 3px rgba(140, 140, 140, .1);
}
 
.checkbox + label::before,
.checkbox + label::after {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
 
.checkbox:checked + label::before {
  background: $color-blue-dark;
  border-color: $color-blue-dark;
}
.checkbox:checked + label::after {
  left: 22px;
}
