.footer{
  margin-top: 15px;
  background-color: $color-blue;
  color: white;
}

.footer__list {
  display: flex;
  justify-content: space-around;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  padding: 10px;
}

@media (max-width: $tablet-width) {
  .footer__list{
    flex-direction: column;
  }
}
