$color-blue : #0C99A6;
$color-blue-dark : #00626B;
$color-orange : #FF7800;
$color-orange-dark : #A64E00;
$color-grey: #e5e5e5;
$color-grey-light: #bdbbbb;
$color-btn-green: #4EB543;

$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 959px;
$retina-dppx: 1.5dppx;

body {
  margin: 0;  
}

//////////////////////////////
.header {
  background-color: $color-blue;
}

.nav {
  display: flex;
  color: white;
  font-weight: bold;
}

.nav__logo {
  width: 10%;
  padding: 10px;
  border: 1px solid white;
}

.nav__menu {
  width: 90%;
  padding: 10px;
  border: 1px solid white;
}

@media (max-width: $tablet-width) {
  .nav__logo {
    display: none;
  }

  .nav__menu {
    width: 100%;
    padding: 20px;
  }
}

///////////////////////////
.main {
  
}

.main__title{
  padding: 10px;
}

.main__container{
  display: flex;
  justify-content: space-between;
}

.main__list{
  display: flex;
  width: 70%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main__item {
  display: flex;
  width: 33%;
  align-items: center;  
  justify-content: center;  
  vertical-align: middle; 
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  background-color: grey;
  color: white; 
}

.main__select {
  margin: 5px;
  padding: 10px;
  text-align-last: center;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid $color-blue-dark;
  border-radius: 10px;
  background-color: $color-blue-dark;
  color: white;
  text-decoration: underline;
}

.main__select {  
  width: 30%;
}

.main__input-container {  
  margin: 5px;
}

.card{
  display: flex;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__item{
  display: flex;
  width: 23.3%;
  padding: 15px;
  align-items: center;  
  justify-content: center;  
  vertical-align: middle; 
  border: 3px solid white;
  border-radius: 10px;
  background-color: $color-grey-light;
  color: white; 
}

.card__item:first-child{
  width: 32%;
  background-color: grey;
}

@media (max-width: $tablet-width) {
  .main__container{
    flex-direction: column;
    align-items: center;
  }

  .main__list{
    width: 100%;
    justify-content: flex-end;
  }

  .main__item{    
    padding: 10px;
  }

  .main__item:nth-child(2){    
    width: 56.5%;    
  }

  .main__item:nth-child(3){    
    width: 43.5%;    
  }

  .main__item:first-child{
    display: none;
  }

  .card__item{
    width:47.5%;
  }

  .card__item:first-child{
    width: 5%;    
  }

  .card__item:nth-child(2){
    display: none;
  }
}
//////////////
.footer{
  margin-top: 15px;
  background-color: $color-blue;
  color: white;
}

.footer__list {
  display: flex;
  justify-content: space-around;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  padding: 10px;
}

@media (max-width: $tablet-width) {
  .footer__list{
    flex-direction: column;
  }
}
///////////////////

