$color-blue : #0C99A6;
$color-blue-dark : #00626B;
$color-orange : #FF7800;
$color-orange-dark : #A64E00;
$color-grey: #e5e5e5;
$color-grey-light: #bdbbbb;
$color-btn-green: #4EB543;

$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 959px;
$retina-dppx: 1.5dppx;

body {
  margin: 0;  
}

//////////////////////////////
.header {
  background-color: $color-blue;
}

.nav {
  display: flex;
  color: white;
  font-weight: bold;
}

.nav__logo {
  width: 10%;
  padding: 10px;
  border: 1px solid white;
}

.nav__menu {
  width: 90%;
  padding: 10px;
  border: 1px solid white;
}

@media (max-width: $tablet-width) {
  .nav__logo {
    display: none;
  }

  .nav__menu {
    width: 100%;
    padding: 20px;
  }
}

///////////////////////////
.main {
  
}

.main__title{
  margin-bottom: 0px;
  padding: 10px;
}

.main__container{
  display: flex;
  justify-content: space-between;
}

.main__list{
  display: flex;
  width: 70%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main__item {
  display: flex;
  width: 33%;
  align-items: center;  
  justify-content: center;  
  vertical-align: middle; 
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  background-color: grey;
  color: white; 
}

.main__select {
  margin: 5px;
  padding: 10px;
  text-align-last: center;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid $color-blue-dark;
  border-radius: 10px;
  background-color: $color-blue-dark;
  color: white;
  text-decoration: underline;
}

.main__select {  
  width: 30%;
}

.main__input-container {  
  margin: 5px;
}

////////

/* прячем стандартный чекбокс */
.checkbox {
  display: none;
}
 
.checkbox + label {
  position: relative;  
  padding-left: 50px;  
  line-height: 40px;
  font-family: tahoma, sans-serif, arial;
  cursor: pointer;
}
 
.checkbox + label::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 46px;
  height: 24px;  
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #dadada;
  border-radius: 12px;
  background: #dddddd;
}
 
.checkbox + label::after {
  content: "";  
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 3px 3px rgba(140, 140, 140, .1);
}
 
.checkbox + label::before,
.checkbox + label::after {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
 
.checkbox:checked + label::before {
  background: $color-blue-dark;
  border-color: $color-blue-dark;
}
.checkbox:checked + label::after {
  left: 22px;
}
////////

.card{
  display: flex;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__item{
  display: flex;
  width: 23.3%;
  padding: 15px;
  align-items: center;  
  justify-content: center;  
  vertical-align: middle; 
  border: 3px solid white;
  border-radius: 10px;
  background-color: $color-grey-light;
  color: white; 
}

.card__item:first-child{
  width: 32%;
  background-color: grey;
}

@media (max-width: $tablet-width) {
  .main__container{
    flex-direction: column;
    align-items: center;
  }

  .main__list{
    width: 100%;
    justify-content: flex-end;
  }

  .main__item{    
    padding: 10px;
  }

  .main__item:nth-child(2){    
    width: 56.5%;    
  }

  .main__item:nth-child(3){    
    width: 43.5%;    
  }

  .main__item:first-child{
    display: none;
  }

  .card__item{
    width:47.5%;
  }

  .card__item:first-child{
    width: 5%;    
  }

  .card__item:nth-child(2){
    display: none;
  }
}
//////////////
.footer{
  margin-top: 15px;
  background-color: $color-blue;
  color: white;
}

.footer__list {
  display: flex;
  justify-content: space-around;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  padding: 10px;
}

@media (max-width: $tablet-width) {
  .footer__list{
    flex-direction: column;
  }
}
///////////////////
.go-back{
  display: block;  
  text-align: left;  
}

.details-header{
  margin: 10px;
  padding: 0px;
}

.details-container{  
  overflow-x: scroll;
}

.details {  
  width: 100%;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  
}

.details__item, .details__title {
  padding: 8px;
  border: 1px solid white;
  border-radius: 10px;
}

.details__row:nth-child(even){
  background-color: $color-grey;
}

.details__row:hover {
  background-color: $color-grey-light;
}

.details__title {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $color-blue-dark;
  color: white;
}
//////////////////

